body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdfd96; 
    font-family: sans-serif;
    touch-action: none; /* Crucial para evitar que el navegador móvil haga scroll */
}

#game-container {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}